<!-- input-search.component.html -->
<div class="search-player-container">
  <h2>Pesquise invocadores</h2>

  <!-- Campo único para Nome do Invocador e Riot ID -->
  <div class="input-group">
    <label for="searchInput">Nome do Invocador com Riot ID:</label>
    <input
      id="searchInput"
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Digite o nome do invocador com Riot ID (nome#ID)"
      required
    />
  </div>

  <!-- Botão de pesquisa -->
  <app-btn-search (searchEvent)="onSearch()"></app-btn-search>
 
</div>
