.container-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px; 
  width: 80vh;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 12px var(--border-dark);
  background-color: var(--grey-030);

  .img-icon {
    flex-shrink: 0; 
    img {
      width: 7rem;
      height: 7rem;
      border-radius: 25%; 
      border: 3px solid var(--dark-green);
    }
  }

  .player-info {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    gap: 5px;

    .info-header {
      display: flex;
      align-items: center; 
      justify-content: flex-start; 
      gap: 10px; 

      .nickname {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        color: var(--info);
      }

      .favorite-button {
        width: 22px;
        height: 22px;
        background-color: transparent;
        border: 2px solid var(--grey);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;

        mat-icon {
          font-size: 22px;
          color: var(--grey);
          transition: color 0.3s;
        }

        &:hover {
          background-color: var(--secondary-010);
          border-color: var(--primary);
        }

        &.favorited {
          background-color: var(--primary);
          border-color: var(--primary);
        }

        &.favorited mat-icon {
          color: var(--background-light);
        }
      }
    }

    .update-button {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 3px ;
      align-self: flex-start; 
      background-color: var(--secondary); 
      color: var(--grey);
      font-size: 14px;
      border: 1px solid var(--info);
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease, border-color 0.3s ease;

      p {
        margin: 0;
        font-size: inherit;
        text-transform: uppercase;  
      }
      
      &:hover {
        background-color: var(--secondary); 
        border-color: var(--grey-090);
      }

      &:active {
        background-color: var(--primary); 
      }
    }
  }

  /* Responsividade */
  @media screen and (max-width: 600px) {
    flex-direction: column; 
    align-items: center; 
    gap: 20px;

    .img-icon img {
      width: 80px;
      height: 80px;
    }

    .player-info {
      align-items: center; 
      text-align: center;

      .info-header {
        flex-direction: column; 
        gap: 5px;
      }

      .update-button {
        align-self: center;
      }
    }
  }
}
