.summoner-info-container {

  height: 100vh;

  display: flex;
  flex-direction: column;    
  max-width: 800px;
  margin: 25px auto; 
  
    // Responsividade
    @media (max-width: 768px) {
      .summoner-info-container {
        max-width: 100%;
        padding: 15px;
      }
  
      h2 {
        font-size: 1.6rem;
      }
  
      p {
        font-size: 0.9rem;
      }
  
      li {
        padding: 12px;
        font-size: 0.9rem;
      }
    }
}
  